<h1>Topics</h1>
<%= link_to "New Topic", new_topic_path, class:"btn btn-success" %>
<% @topics.each do |topic| %>
 <div class="row">
  <div class="col-md-8">
      <h2><%= link_to topic.title, topic_path(topic) %></h2>
   </div>
</div>
    <%end%>
    
