<h1>Topics</h1>
<%= link_to "New Topic", new_topic_path, class:"btn btn-success" %>
<% @topics.each do |topic| %>
 <div class="row">
  <div class="col-md-8">
      <h2><%= link_to topic.title, topic_path(topic) %></h2>
   </div>
</div>
<div class="row">
   <% topic.bookmarks.each do |bookmark| %>
     <div class="col-md-3">
       <br><div class="bookmark_container">
      <div class="thumbnail">
       <% link_text = bookmark.thumbnail_url.present? ? "<img src='#{bookmark.thumbnail_url}'/>".html_safe : bookmark.url %>
    <%= link_to link_text, "#{bookmark.url}", target: "_blank"%> 
    </div>
  </div>
     </div>

   <%end%>
  </div>
    <%end%>
    
